body {
    background: #040111;
    color: white;
}

* {
    box-sizing: border-box;
}

section {
    position: relative;
    border: 1px solid var(--gray);
    padding: 1em;
    border-radius: 14px;
    margin: 4em 0;
    background: var(--secondary-color);
}

section div {
    position: absolute;
    top: -2.5em;
    /* border: 1px solid; */
    height: auto;
    /* background-color: #040111; */
    padding: 0;
    display: flex;
}

section div * {
    border: 1px solid var(--gray);
   background-color: var(--blue);
    padding: 0.2em 0.5em;
    font-size: 1.5em;
    border-radius: 12px;
}

/* main .section-header:nth-of-type(odd) {
  border: 1px solid red;
} */
section p {
    text-align: justify;
    font-size: 1.5em;
}

main {
    /* max-width: 60%; */
    /* margin: 100px auto 0px; */
}



@media (min-width: 768px) {
    main {
        max-width: 60%;
        margin: 50px auto 0px;
    }

    section {
        position: relative;
        padding: 1em;
        border-radius: 14px;
        margin: 4em 0;
        background: var(--secondary-color);
    }

    section div {
        position: absolute;
        top: -2.5em;
        /* border: 1px solid; */
        height: auto;
        /* background-color: #040111; */
        padding: 0;
        display: flex;
    }
    section div * {

        background-color: var(--blue);
         padding: 0.2em 0.5em;
        border-radius: 12px;
    }
    section p {
        text-align: justify;
    }
}
